version: "2"
services:
  db:
    image: mdillon/postgis
    container_name: db
    env_file:
      - .env
  api:
    build: api/.
    container_name: api
    image: billing:latest
    ports:
      - 8000:8000
    links:
      - db
    depends_on:
      - db
    volumes:
      - './api/api:/src/api'
      - "./models/models:/usr/local/lib/python3.6/site-packages/models"
      - "./utils/utils:/usr/local/lib/python3.6/site-packages/utils"
    env_file:
      - .env