version: "2"
services:
  test_rabbitmq:
    image: rabbitmq
    env_file:
      - test.env
  test_db:
    image: postgres
    env_file:
      - test.env
  test_api:
    build: .
    image: zabor:latest
    command: python3 setup.py test
    working_dir: /src
    ports:
      - 8000:8000
    links:
      - test_rabbitmq
      - test_db
    depends_on:
      - test_api_celery_worker
    volumes:
      - './:/src/'
      - "../models/models:/usr/local/lib/python3.6/site-packages/models"
      - "../utils/utils:/usr/local/lib/python3.6/site-packages/utils"
    env_file:
      - test.env
  test_api_celery_worker:
    build: .
    image: zabor:latest
    command: celery -A api.tasks:celery_app worker --loglevel=info
    links:
      - test_rabbitmq
      - test_db
    depends_on:
      - test_rabbitmq
      - test_db
    volumes:
      - './:/src/'
      - "../models/models:/usr/local/lib/python3.6/site-packages/models"
      - "../utils/utils:/usr/local/lib/python3.6/site-packages/utils"
    env_file:
      - test.env